# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/app/dist
/app/tmp

# dependencies
/app/node_modules
/app/functions/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/app/.sass-cache
/app/connect.lock
/app/coverage/*
/app/libpeerconnection.log
/app/npm-debug.log
/app/testem.log
/app/typings

# e2e
/app/e2e/*.js
/app/e2e/*.map

#System Files
/app/.DS_Store
/app/Thumbs.db
