<div fxFill fxLayout="column" fxLayoutAlign="center center" layout-padding>
  <div fxLayout="row" fxFill fxLayoutAlign="center center">
    <div class="" fxFlex="50" fxFlex.xs="90">
      <md-card *ngIf="!user">
        <md-card-title>Login</md-card-title>
          <md-card-content>
            <form fxLayout="column" [formGroup]="loginForm" novalidate>
              <md-input-container  [dividerColor]="loginForm.get('email').touched && loginForm.get('email').invalid ? 'warn' : 'primary'">
                <!-- <md-icon class="md-icon-button" md-prefix>email</md-icon> -->
                <input md-input placeholder="Email" required formControlName="email"/>

                <div ngMessages [for]="loginForm.get('email')">
                  <div ngMessage="required">
                    required field
                  </div>
                  <div ngMessage="simpleEmailRule">
                    not a valid email
                  </div>
                </div>
              </md-input-container>

              <md-input-container [dividerColor]="loginForm.get('password').touched && loginForm.get('password').invalid ? 'warn' : 'primary'">
                <input md-input placeholder="Password" type="password"  required formControlName="password">
                <div ngMessages [for]="loginForm.get('password')">
                  <div ngMessage="required">
                    required field
                  </div>
                </div>
              </md-input-container>
            </form>
          </md-card-content>
          <md-card-actions fxLayoutAlign="end end">
            <button md-raised-button class="md-accent" (click)="login()">Login</button>

          </md-card-actions>
      </md-card>

      <md-card *ngIf="user">
        <p>{{user | json}}</p>
      </md-card>
    </div>
  </div>
</div>

<!-- <h2 md-dialog-title> Login </h2>
<div md-dialog-actions fxLayout="row" fxLayoutAlign="end end">
  <button md-button class="md-primary" (click)="login();">
    Login
  </button>
  <button md-button class="md-warn" (click)="closeDialog('cancel')">
    Cancel
  </button>

</div> -->
