/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Barrio');



html {
   margin: 0px;
   height: 100%;
   width: 100%;
   font-family: 'Roboto';
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   overflow: hidden;
   height: 958px;
}

ng-component {
  display : flex;
  flex : 1;
}

app-root {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  & > [fxFill] {
    overflow: auto;
    // height: calc(100% - 67px);
    // height: 895px

  }
}
