/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Barrio');



html {
   margin: 0px;
   height: 100%;
   width: 100%;
   font-family: 'Roboto';
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   overflow: hidden;
   height: 958px;
}

ng-component {
  display : flex;
  flex : 1;
}

app-root {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  & > [fxFill] {
    overflow: auto;
    // height: calc(100% - 67px);
    // height: 895px

  }
}

md-input-container {
  margin: 12px 0;
}

.md-input-underline .md-input-ripple.md-warn {
  opacity: 1;
  transform: scaleY(1);

  // & .md-input-infix > label {
  //   color: #f44336;
  // }
}

.md-error-messages {
  font-size: x-small;
  position: absolute;
  top: 26px;
  color: red;

  & > div {
    display: inline-block;
  }
}

div[fxflexfill] {
  overflow: auto;
}

[md-card-avatar] {
  border-radius: 10%;
}

md-card-title {
  font-size : 17px;
  text-transform : uppercase;
  font-weight: bold;

  & md-input-container {
    & div.md-input-wrapper {
      margin: 0;
    }
  }
}

md-card-subtitle {
  font-size: smaller;
}

div.md-card-header-text {
  // padding-left: 12px;
}
