<div #flexContainer fxFlexFill fxLayout="column" layoutPadding>

    <md-card fxFlex="70">
      <md-card-header>
        <md-card-title>
          <md-input-container>
            <input md-input [(ngModel)]="story.title" placeholder="My Awesome Title">
          </md-input-container>
        </md-card-title>
        <img md-card-avatar src="/assets/yeoman.png">
      </md-card-header>
      <md-card-content>
        <md-input-container fxFlexFill>
          <textarea md-input placeholder="My awesome story" [(ngModel)]="story.body"></textarea>
        </md-input-container>
      </md-card-content>
      <md-card-actions fxLayoutAlign="end center" layoutPadding>

        <button md-raised-button color="accent" (click)="save();">
          <md-icon>save</md-icon>
        </button>
      </md-card-actions>

    </md-card>
    <hr>
    <div *ngFor="let item of stories" fxFlex="70">
      <md-card md-theme="dark">
        <md-card-header>
          <md-card-title>{{item.title}}</md-card-title>
          <md-card-subtitle><i>{{item.date  | date:
            'fullDate'}}</i></md-card-subtitle>
            <img md-card-avatar src="/assets/yeoman.png">
          </md-card-header>
          <md-card-content>
            <p>
              {{item.body}}
            </p>
          </md-card-content>
          <md-card-actions fxLayoutAlign="end center">
            <button md-raised-button color="accent">
              <md-icon>favorite_border</md-icon>
            </button>

            <button md-raised-button color="primary">
              <md-icon>share</md-icon>
            </button>
          </md-card-actions>
        </md-card>
        <br>
    </div>

</div>
